@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

html, body {
    font-family: 'Kantumruy Pro', sans-serif;
}